@charset "UTF-8";
/*@mixin mq($arg) {
  @media screen and (min-width:$arg){
    @content;
  }
}
*/
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
/* CSS Document */
* {
  box-sizing: border-box; }

body {
  margin: 0px;
  width: 100%;
  height: auto;
  background-color: black; }

header {
  height: 10%;
  width: 100%;
  padding-top: 0.5%;
  /*background-color: black;*/
  position: fixed;
  /*husk at angiv width*/
  z-index: 100;
  /*logo image*/ }
  header .centerContent {
    width: 100%;
    /* tilpasse sig størrelsen i forhold til vinduet*/ }
  header img {
    width: 20%;
    height: 20%;
    float: left;
    margin-left: 3%; }
  header nav {
    /*pless booking text*/ }
    header nav ul {
      float: right;
      margin-top: 10%;
      margin-right: 3%; }
    header nav li {
      font-size: 100%;
      margin-right: 6%;
      margin-top: 7%;
      float: right;
      font-family: 'Raleway', sans-serif;
      list-style: none; }
      header nav li a {
        color: white;
        text-decoration: none; }

/*Facebook knap i venstre side*/
.fb-iframe {
  height: 500px;
  /*background: blue;*/
  display: block;
  position: fixed;
  margin-top: 14em;
  top: 10px;
  width: 340px;
  left: -340px;
  z-index: 100; }

.fb-toggle-button {
  position: fixed;
  top: 350px;
  cursor: pointer;
  z-index: 100;
  height: 75px;
  width: 75px;
  /*display:none;*/ }

.ins-toggle-button {
  height: 100px;
  position: fixed;
  top: 500px;
  cursor: pointer;
  z-index: 100;
  display: none; }

.ins-toggle-button img {
  height: 500px;
  width: 500px; }

/*Facebook knap slut*/
/*Forside start*/
main {
  height: auto;
  width: 100%;
  background-color: black; }
  main .imgdean {
    width: 100%; }
    main .imgdean img {
      margin-top: 0;
      width: 100%;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 74%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 74%, 0% 100%); }
  main section.top {
    height: 530px;
    width: 100%;
    margin: 0;
    background-color: black;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 74%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 74%, 0% 100%);
    /*text skrå*/ }
    main section.top img {
      margin-top: 5%;
      float: right;
      height: 100%;
      width: 100%; }
    main section.top .deantext {
      width: 100%;
      height: auto;
      margin-top: 19%;
      margin-left: 24%;
      position: absolute;
      float: right;
      /*background-color: pink;*/
      font-family: 'Oswald', sans-serif;
      -webkit-transform: rotateZ(90deg);
      /* Safari */
      transform: rotateZ(90deg);
      /* Standard syntax */ }
      main section.top .deantext .h2first {
        width: 100%;
        color: white;
        /*background-color: yellow;*/
        font-size: 400%;
        margin: 0;
        padding: 0;
        border: 0;
        line-height: 100%; }
        main section.top .deantext .h2first h2 {
          margin-top: 1%; }
      main section.top .deantext .h2second {
        width: 150px;
        color: #ff9800;
        /*background-color: yellow;*/
        font-size: 400%;
        margin: 0;
        padding-left: 10%;
        border: 0;
        line-height: 100%; }
        main section.top .deantext .h2second h2 {
          margin-top: 1%; }
      main section.top .deantext .h2third {
        width: 150px;
        color: #212121;
        /*background-color: yellow;*/
        font-size: 400%;
        margin: 0;
        padding-left: 20%;
        border: 0;
        line-height: 100%; }
        main section.top .deantext .h2third h2 {
          margin-top: 1%; }
  main section.middleup {
    width: 100%;
    height: 250px;
    background-color: #121212;
    -webkit-clip-path: polygon(0 74%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 74%, 100% 0, 100% 100%, 0% 100%); }
  main section.middle {
    width: 100%;
    height: 500px;
    background-color: #121212;
    -webkit-clip-path: polygon(0 100%, 100% 0, 0 0);
    clip-path: polygon(0 100%, 100% 0, 0 0);
    /*skrå op*/ }
  main section.bottomup {
    width: 100%;
    height: 800px;
    background-color: #121212;
    -webkit-clip-path: polygon(100% 0, 100% 74%, 0 100%, 0 26%);
    clip-path: polygon(100% 0, 100% 74%, 0 100%, 0 26%); }
  main section.bottomdown {
    width: 100%;
    height: 500px;
    /* Rotate div */
    -webkit-clip-path: polygon(100% 51%, 0% 100%, 100% 100%);
    clip-path: polygon(100% 51%, 0% 100%, 100% 100%);
    /*skrå ned*/ }
    main section.bottomdown img {
      width: 100%;
      height: auto; }

footer {
  height: 100px;
  /*background-image: url("img/goldtext.jpg");*/ }

/*   -ms-transform: rotate(-25deg); /* IE 9 */
/* -webkit-transform: rotate(-25deg); /* Safari 3-8 */
/*transform: rotate(-25deg);*/
@media screen and (max-width: 768px) {
  .fb-toggle-button {
    display: none; }

  .h2first .h2second .h2third {
    font-size: 200%; } }
/*media q der bruges i de enkelte classes*/
/*@include mq(750px){*/

/*# sourceMappingURL=style.css.map */
