@charset "UTF-8";
/*@mixin mq($arg) {
  @media screen and (min-width:$arg){
    @content;
  }
}
*/
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
/* CSS Document */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  height: 100%;
  background-color: black; }

img {
  width: 100%;
  /*vigtigt billedestørrelse så de tilpasser sig screen*/
  /*border-radius: 10px;*/ }

header {
  height: 100px;
  width: 100%;
  position: fixed;
  /*husk at angiv width*/
  z-index: 10;
  margin-bottom: 0;
  /*header shrink*/
  /*header shrink slut*/
  /*lukker centercontent*/ }
  header .imgdean {
    width: 100%;
    position: absolute;
    z-index: -1;
    /*header img 3 pic dean*/ }
    header .imgdean img {
      width: 100%;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 74%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 74%, 0% 100%); }
  header .imgdean.shrink {
    display: none;
    height: 150px;
    background-color: black; }
  header .imgdean.shrink img {
    display: none;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s; }
  header .centerContent {
    width: 100%;
    height: 180px;
    margin: 0px;
    padding: 0;
    position: fixed;
    /*background-color: yellow;*/
    /*logo image*/
    /*lukker navbar*/ }
    header .centerContent .logo {
      width: 100%;
      height: auto;
      /*background: lightblue;*/
      position: fixed; }
      header .centerContent .logo img {
        padding-top: 5%;
        width: 8%;
        margin-left: 5%; }
    header .centerContent .navbar {
      width: 50%;
      height: 20%;
      float: right;
      /*lukker nav*/ }
      header .centerContent .navbar nav {
        /*lukker ul*/ }
        header .centerContent .navbar nav ul {
          list-style: none;
          padding-left: 0;
          margin-right: 5%;
          margin-top: 10%;
          float: right;
          /*pless booking text*/
          /*lukker li*/ }
          header .centerContent .navbar nav ul li {
            font-size: 130%;
            /*margin-right: 6%;
            margin-top: 7%;
            float: right;*/
            font-family: 'Oswald', sans-serif;
            /*lukker a*/ }
            header .centerContent .navbar nav ul li a {
              color: #ffffff;
              text-decoration: none; }

/*lukker header*/
main {
  width: 100%;
  margin: 0px;
  /*Facebook knap i venstre side*/
  /*Facebook knap slut*/
  /*top luk*/
  /*greyline luk*/
  /*video luk*/
  /*videostyling start*/
  /*video slut*/
  /*galleri luk*/ }
  main .fb-iframe {
    height: 500px;
    /*background: blue;*/
    display: block;
    position: fixed;
    margin-top: 14em;
    top: 10px;
    width: 340px;
    left: -340px;
    z-index: 100;
    border-style: solid white; }
  main .fb-toggle-button {
    position: fixed;
    top: 400px;
    cursor: pointer;
    z-index: 100;
    height: 75px;
    width: 74px;
    /*height: 75px;
    width:75px;*/
    /*display:none;*/ }
    main .fb-toggle-button .fb-toggle-button img {
      background: #1abc9c; }
    main .fb-toggle-button .fb-toggle-button img {
      opacity: 1;
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out; }
    main .fb-toggle-button .fb-toggle-button:hover img {
      opacity: .5; }
  main .top {
    width: 100%;
    height: 520px;
    /*citat  -har haft mange*/
    /*deaninfo luk*/ }
    main .top .deaninfo {
      color: white;
      margin-top: 28%;
      width: 50%;
      margin-left: 17%;
      position: absolute;
      float: right;
      font-family: 'Oswald', sans-serif;
      /*h1 luk*/ }
      main .top .deaninfo h1 {
        font-size: 150%; }
  main .greyline {
    width: 100%;
    height: 500px;
    /*auto*/
    margin-top: 3em;
    margin-bottom: 2em;
    background-color: #121212;
    -webkit-clip-path: polygon(100% 5%, 100% 38%, 0 100%, 0 25%);
    clip-path: polygon(100% 5%, 100% 38%, 0 100%, 0 25%);
    /*center luk*/ }
    main .greyline .center {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      flex-flow: row wrap;
      flex-wrap: wrap;
      align-content: space-around;
      margin-left: auto;
      margin-right: auto;
      /*audio*/
      /*audio slut*/
      /*wordstilt*/ }
      main .greyline .center .audioplayer {
        width: 60%;
        height: auto;
        /*500px;*/
        /*background-color: pink;*/
        float: left;
        /*keyframes luk*/ }
        main .greyline .center .audioplayer .audio {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          color: #666;
          font-size: 100%;
          font-weight: 300;
          font-family: 'Roboto Condensed', sans-serif;
          /*background-color: #222;*/ }
        main .greyline .center .audioplayer h1 {
          margin-bottom: 0.5em;
          font-weight: 400; }
        main .greyline .center .audioplayer h2 {
          font-size: 87.5%; }
        main .greyline .center .audioplayer .player {
          position: relative;
          /*width: 40%;
          min-height: 50em;*/
          /*overflow: hidden;*/
          background-color: #eee;
          border-radius: 0.25em;
          /*box-shadow:
            0 1.5em 2em -1em rgba(0,0,0,0.8),
            inset 0 0.0625em 0 rgba(255,255,255,1),
            inset 0 -0.125em 0.0625em rgba(0,0,0,0.3);*/ }
        main .greyline .center .audioplayer .album {
          position: relative;
          left: 50%;
          width: 15em;
          height: 15em;
          margin-top: -7em;
          /*margin-bottom: -13%;*/
          overflow: hidden;
          transform: translate(-50%, -25%);
          background-color: #111;
          border: 1px solid #111;
          border-radius: 50%;
          box-shadow: 0 0.0625em 0.1875em rgba(0, 0, 0, 0.5), 0 0 0.125em 0.3125em #ddd, 0 0.0625em 0 0.375em #bbb, 0 0 0.375em 0.325em rgba(0, 0, 0, 0.3), 0 0 0.5em 0.375em rgba(0, 0, 0, 0.3), 0 0.25em 1em 0.5em rgba(0, 0, 0, 0.15), inset 0 0 0 0.0625em rgba(0, 0, 0, 0.5), inset 0 0 0 0.1875em white, inset 0 0 0 0.375em rgba(0, 0, 0, 0.5), inset 0 0 0 0.4375em rgba(255, 255, 255, 0.2), inset 0 0 0 0.5em rgba(0, 0, 0, 0.5), inset 0 0 0 0.5625em rgba(255, 255, 255, 0.3), inset 0 0 0 0.625em rgba(0, 0, 0, 0.5), inset 0 0 0 0.6875em rgba(255, 255, 255, 0.2), inset 0 0 0 0.75em rgba(0, 0, 0, 0.5), inset 0 0 0 0.8125em rgba(255, 255, 255, 0.3), inset 0 0 0 0.875em rgba(0, 0, 0, 0.5), inset 0 0 0 0.9375em rgba(255, 255, 255, 0.3), inset 0 0 0 1em rgba(0, 0, 0, 0.5), inset 0 0 0 1.0625em rgba(255, 255, 255, 0.2), inset 0 0 0 1.125em rgba(0, 0, 0, 0.5), inset 0 0 0 1.1875em rgba(255, 255, 255, 0.3), inset 0 0 0 1.25em rgba(0, 0, 0, 0.5), inset 0 0 0 1.3125em rgba(255, 255, 255, 0.2), inset 0 0 0 1.375em rgba(255, 255, 255, 0.2), inset 0 0 0 1.4375em rgba(0, 0, 0, 0.5), inset 0 0 0 1.5em rgba(255, 255, 255, 0.3), inset 0 0 0 1.5625em rgba(0, 0, 0, 0.5), inset 0 0 0 1.625em rgba(255, 255, 255, 0.3), inset 0 0 0 1.6875em rgba(0, 0, 0, 0.5), inset 0 0 0 1.75em rgba(255, 255, 255, 0.2), inset 0 0 0 1.8125em rgba(0, 0, 0, 0.5), inset 0 0 0 1.875em rgba(255, 255, 255, 0.2), inset 0 0 0 1.9375em rgba(0, 0, 0, 0.5), inset 0 0 0 2em rgba(255, 255, 255, 0.3), inset 0 0 0 2.0625em rgba(0, 0, 0, 0.5), inset 0 0 0 2.125em rgba(0, 0, 0, 0.5), inset 0 0 0 2.1875em rgba(255, 255, 255, 0.1), inset 0 0 0 2.25em rgba(0, 0, 0, 0.5), inset 0 0 0 2.3125em rgba(255, 255, 255, 0.2), inset 0 0 0 2.375em rgba(255, 255, 255, 0.1), inset 0 0 0 2.4375em rgba(0, 0, 0, 0.5), inset 0 0 0 2.5em rgba(255, 255, 255, 0.3), inset 0 0 0 2.5625em rgba(0, 0, 0, 0.5), inset 0 0 0 2.625em rgba(255, 255, 255, 0.2), inset 0 0 0 2.6875em rgba(0, 0, 0, 0.5), inset 0 0 0 2.75em rgba(255, 255, 255, 0.2), inset 0 0 0 2.8125em rgba(0, 0, 0, 0.5), inset 0 0 0 2.875em rgba(255, 255, 255, 0.2), inset 0 0 0 2.9375em rgba(0, 0, 0, 0.5), inset 0 0 0 3em rgba(255, 255, 255, 0.3), inset 0 0 0 3.0625em rgba(0, 0, 0, 0.5), inset 0 0 0 3.125em rgba(0, 0, 0, 0.5), inset 0 0 0 3.1875em rgba(255, 255, 255, 0.2), inset 0 0 0 3.25em rgba(0, 0, 0, 0.5), inset 0 0 0 3.3125em rgba(255, 255, 255, 0.2), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.4375em rgba(0, 0, 0, 0.5), inset 0 0 0 3.5em rgba(255, 255, 255, 0.3); }
        main .greyline .center .audioplayer .album::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          height: 100%;
          transform: translate(-50%, -50%);
          background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.125), rgba(255, 255, 255, 0) 70%), linear-gradient(-48deg, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.075), rgba(255, 255, 255, 0) 55%), linear-gradient(-42deg, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.075), rgba(255, 255, 255, 0) 55%), radial-gradient(circle at top left, black 20%, rgba(0, 0, 0, 0) 80%), radial-gradient(circle at bottom right, black 20%, rgba(0, 0, 0, 0) 80%); }
        main .greyline .center .audioplayer .cover,
        main .greyline .center .audioplayer .cover div {
          position: absolute;
          z-index: 1;
          top: 50%;
          left: 50%;
          width: 6em;
          height: 6em;
          overflow: hidden;
          transform-origin: 0 0;
          transform: rotate(0) translate(-50%, -50%);
          border-radius: 50%;
          animation: spin 4s linear infinite paused; }
        main .greyline .center .audioplayer .ffing .cover {
          animation-play-state: running; }
        main .greyline .center .audioplayer .cover div {
          border-radius: 0;
          animation: spin 2s linear infinite reverse paused; }
        main .greyline .center .audioplayer .rwing .cover div {
          animation: spin 2s linear infinite reverse running; }
        main .greyline .center .audioplayer .cover::before,
        main .greyline .center .audioplayer .cover::after {
          content: '';
          position: absolute;
          z-index: 10;
          top: 50%;
          left: 50%;
          width: 100%;
          height: 100%;
          transform-origin: 0 0;
          transform: rotate(0) translate(-50%, -50%);
          border-radius: 50%;
          box-shadow: inset 0 0.0625em rgba(255, 255, 255, 0.3);
          animation: spin 4s linear infinite reverse paused; }
        main .greyline .center .audioplayer .cover::after {
          width: 0.25em;
          height: 0.3125em;
          margin-top: -0.0625em;
          background-color: #eee;
          border-radius: 0.125em;
          box-shadow: inset 0 -0.0625em 0.0625em rgba(0, 0, 0, 0.5), inset 0.0625em -0.0625em 0.125em rgba(255, 255, 255, 0.15), inset -0.0625em -0.0625em 0.125em rgba(255, 255, 255, 0.15), inset 0 -0.125em 0.125em rgba(0, 0, 0, 0.8), 0 0.0625em 0.0625em rgba(0, 0, 0, 0.5), 0 0.0625em 0.25em 0.0625em rgba(0, 0, 0, 0.15), 0 0 0.25em 0.125em rgba(0, 0, 0, 0.15); }
        main .greyline .center .audioplayer .ffing .cover::before,
        main .greyline .center .audioplayer .ffing .cover::after {
          animation-play-state: running; }
        main .greyline .center .audioplayer .cover img {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          height: 100%;
          transform-origin: 0 0;
          transform: rotate(0) translate(-50%, -50%);
          animation: spin 4s linear infinite paused; }
        main .greyline .center .audioplayer .paused .cover img {
          animation-play-state: paused; }
        main .greyline .center .audioplayer .playing .cover img {
          animation-play-state: running; }
        main .greyline .center .audioplayer .info {
          text-align: center;
          text-shadow: 0 0.0625em white; }
        main .greyline .center .audioplayer .time {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 0.5em;
          margin-bottom: 0.5em;
          margin-top: -2em; }
        main .greyline .center .audioplayer .time > * {
          margin: 0 0.5em; }
        main .greyline .center .audioplayer .progress {
          flex-grow: 2;
          height: 0.125em;
          background-color: #999;
          border-radius: 0.0625em;
          box-shadow: 0 0.0625em white;
          cursor: pointer; }
        main .greyline .center .audioplayer .progress span {
          display: block;
          width: 0;
          height: 100%;
          background-color: #666; }
        main .greyline .center .audioplayer .actions {
          position: relative;
          width: 100%;
          padding: 1em 0 7em;
          display: flex;
          justify-content: center;
          align-items: center; }
        main .greyline .center .audioplayer button {
          appearance: none;
          outline: none;
          position: relative;
          padding: 0;
          font-size: 100%;
          background-color: transparent;
          border: none;
          cursor: pointer; }
        main .greyline .center .audioplayer .button {
          width: 3em;
          height: 3em;
          background-color: transparent;
          background-image: linear-gradient(#ddd, #f6f6f6);
          border: none;
          border-radius: 50%; }
        main .greyline .center .audioplayer .button::before {
          content: '';
          position: absolute;
          z-index: 1;
          top: 50%;
          left: 50%;
          width: 80%;
          height: 80%;
          transform: translate(-50%, -50%);
          background-color: #f4f4f4;
          border: 0.125em solid #d5d5d5;
          border-radius: 50%;
          box-shadow: inset 0 0.25em 1em -0.25em rgba(255, 255, 255, 0.75); }
        main .greyline .center .audioplayer .button:hover::before {
          background-color: #fcfcfc; }
        main .greyline .center .audioplayer .play-pause {
          width: 4em;
          height: 4em; }
        main .greyline .center .audioplayer .rw {
          right: -0.25em;
          margin-left: 0.375em;
          transform: scaleX(-1); }
        main .greyline .center .audioplayer .ff {
          left: -0.25em;
          margin-right: 0.375em; }
        main .greyline .center .audioplayer .button .arrow {
          position: absolute;
          z-index: 10;
          top: 50%;
          left: 50%;
          width: 30%;
          height: 30%;
          overflow: hidden;
          transform: translate(-50%, -50%); }
        main .greyline .center .audioplayer .button .arrow::before,
        main .greyline .center .audioplayer .button .arrow::after {
          content: '';
          position: absolute;
          left: -50%;
          width: 100%;
          height: 100%;
          transform: scale(1.2, 0.7) rotate(45deg);
          background-color: #ddd;
          box-shadow: inset 0 0.125em 0.125em -0.0625em rgba(0, 0, 0, 0.15), 0.0625em 0.0625em 0.125em white; }
        main .greyline .center .audioplayer .button .arrow::after {
          left: 0;
          transform: none;
          background-color: transparent;
          box-shadow: inset 0.0625em 0 0.125em -0.0625em rgba(0, 0, 0, 0.1); }
        main .greyline .center .audioplayer .paused .play-pause .arrow {
          margin-left: 0.1875em; }
        main .greyline .center .audioplayer .playing .play-pause .arrow::before,
        main .greyline .center .audioplayer .playing .play-pause .arrow::after {
          left: 0;
          width: 0.4375em;
          transform: none;
          background-color: #ddd;
          box-shadow: inset 0.0625em 0.125em 0.125em -0.0625em rgba(0, 0, 0, 0.15), 0.0625em 0.0625em 0.125em white; }
        main .greyline .center .audioplayer .playing .play-pause .arrow::after {
          left: auto;
          right: 0; }
        main .greyline .center .audioplayer .rw .arrow,
        main .greyline .center .audioplayer .ff .arrow {
          width: 20%;
          height: 20%;
          margin-left: 12%; }
        main .greyline .center .audioplayer .rw .arrow:first-child,
        main .greyline .center .audioplayer .ff .arrow:first-child {
          margin-left: -4%; }
        main .greyline .center .audioplayer .button:active .arrow::before,
        main .greyline .center .audioplayer .playing .play-pause .arrow::before,
        main .greyline .center .audioplayer .playing .play-pause .arrow::after {
          background-color: #cef; }
        main .greyline .center .audioplayer .shuffle {
          width: 1.375em;
          height: 1.375em;
          color: #d5d5d5; }
        main .greyline .center .audioplayer .shuffle .arrow {
          position: absolute;
          top: 0.1875em;
          left: 0;
          width: 0.375em;
          height: 0.125em;
          color: inherit;
          background-color: currentColor; }
        main .greyline .center .audioplayer .shuffle .arrow::before {
          content: '';
          position: absolute;
          top: 0;
          left: calc(100% + 0.125em);
          width: 0.5em;
          height: 1em;
          transform: skewX(30deg);
          border-bottom: 0.125em solid;
          border-left: 0.125em solid;
          box-shadow: -0.3125em 0em 0 -0.1875em #eee, inset 0.375em 0.25em 0 -0.25em #eee; }
        main .greyline .center .audioplayer .shuffle .arrow::after {
          content: '';
          position: absolute;
          top: 0.6875em;
          left: calc(100% + 0.625em);
          border: 0.25em solid transparent;
          border-left-width: 0.375em;
          border-left-color: currentColor; }
        main .greyline .center .audioplayer .shuffle .arrow:first-child {
          transform-origin: 0 0.5em;
          transform: scaleY(-1); }
        main .greyline .center .audioplayer .repeat {
          width: 1.375em;
          height: 1.375em;
          color: #d5d5d5;
          border: 0.125em solid;
          border-right-color: transparent;
          border-radius: 50%; }
        main .greyline .center .audioplayer .repeat::before {
          content: '';
          position: absolute;
          top: -0.125em;
          left: -0.125em;
          width: calc(100% + 0.25em);
          height: calc(100% + 0.25em);
          transform: rotate(-45deg);
          border: 0.125em solid transparent;
          border-right-color: currentColor;
          border-radius: 50%; }
        main .greyline .center .audioplayer .repeat::after {
          content: '';
          position: absolute;
          top: 50%;
          right: -0.3125em;
          border: 0.25em solid transparent;
          border-top-width: 0.375em;
          border-top-color: currentColor; }
        main .greyline .center .audioplayer .shuffle.active,
        main .greyline .center .audioplayer .repeat.active {
          color: #bde; }
@keyframes spin {
  100% {
    transform: rotate(360deg) translate(-50%, -50%); } }
      main .greyline .center .wordstilt {
        width: 40%;
        height: auto;
        /*500px;*/
        background-color: green;
        float: right;
        /*text 3 ord horisontalt*/ }
        main .greyline .center .wordstilt .deantext {
          width: 100%;
          height: auto;
          background-color: yellow;
          /*padding-left: 50%;
          margin-left: 25%;
          margin-top: 20em;
          position: absolute;
          z-index: 9;*/
          font-family: 'Oswald', sans-serif;
          -webkit-transform: rotateZ(90deg);
          /* Safari */
          transform: rotateZ(90deg);
          /* Standard syntax */ }
          main .greyline .center .wordstilt .deantext .h2first {
            width: 100%;
            color: white;
            /*background-color: yellow;*/
            font-size: 150%;
            margin: 0;
            padding: 0;
            border: 0;
            line-height: 100%; }
            main .greyline .center .wordstilt .deantext .h2first p {
              margin-top: 1%; }
          main .greyline .center .wordstilt .deantext .h2second {
            width: 150px;
            color: #ff9800;
            /*orange*/
            /*background-color: yellow;*/
            font-size: 150%;
            margin: 0;
            padding-left: 15%;
            border: 0;
            line-height: 100%; }
            main .greyline .center .wordstilt .deantext .h2second p {
              margin-top: 1%; }
          main .greyline .center .wordstilt .deantext .h2third {
            width: 150px;
            color: #424242;
            /*background-color: yellow;*/
            font-size: 150%;
            margin: 0;
            padding-left: 30%;
            border: 0;
            line-height: 100%; }
            main .greyline .center .wordstilt .deantext .h2third p {
              margin-top: 1%; }
  main .videodean {
    width: 100%;
    height: 500px;
    /*background-color: orange;*/ }
  main .frontpagemediamaster {
    margin-bottom: 20em;
    text-align: center;
    padding-top: 6%; }
  main .gallery {
    width: 100%;
    height: 500px;
    /*background-color: lightblue;*/
    /*galleri start*/
    /*luk galleri*/ }
    main .gallery .container {
      margin: 4% auto;
      width: 250px;
      padding-top: 10%;
      height: 180px;
      position: relative;
      perspective: 1000px; }
    main .gallery #carousel {
      width: 100%;
      height: 100%;
      position: absolute;
      transform-style: preserve-3d;
      animation: rotation 40s infinite linear; }
    main .gallery #carousel:hover {
      animation-play-state: paused; }
    main .gallery #carousel figure {
      display: block;
      position: absolute;
      width: 186px;
      height: 116px;
      left: 10px;
      top: 10px;
      background: black;
      overflow: hidden;
      border: solid 5px #ffffff;
      border-radius: 17px; }
    main .gallery #carousel figure:nth-child(1) {
      transform: rotateY(0deg) translateZ(288px); }
    main .gallery #carousel figure:nth-child(2) {
      transform: rotateY(40deg) translateZ(288px); }
    main .gallery #carousel figure:nth-child(3) {
      transform: rotateY(80deg) translateZ(288px); }
    main .gallery #carousel figure:nth-child(4) {
      transform: rotateY(120deg) translateZ(288px); }
    main .gallery #carousel figure:nth-child(5) {
      transform: rotateY(160deg) translateZ(288px); }
    main .gallery #carousel figure:nth-child(6) {
      transform: rotateY(200deg) translateZ(288px); }
    main .gallery #carousel figure:nth-child(7) {
      transform: rotateY(240deg) translateZ(288px); }
    main .gallery #carousel figure:nth-child(8) {
      transform: rotateY(280deg) translateZ(288px); }
    main .gallery #carousel figure:nth-child(9) {
      transform: rotateY(320deg) translateZ(288px); }
    main .gallery #carousel img {
      -webkit-filter: grayscale(1);
      cursor: pointer;
      transition: all .5s ease; }
    main .gallery #carousel img:hover {
      -webkit-filter: grayscale(0);
      transform: scale(1.2, 1.2); }
@keyframes rotation {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(360deg); } }
/*main luk*/
/*CSS footer start*/
footer {
  height: 60px;
  background-color: #121212;
  position: absolute;
  width: 100%; }
  footer .somelogo {
    float: right; }
    footer .somelogo .fb {
      cursor: pointer;
      z-index: 100;
      height: 60px;
      width: 60px;
      margin-left: 5px;
      margin-top: -30px;
      margin-right: 15px; }
    footer .somelogo .fb a:hover {
      background-color: rgba(150, 126, 18, 0.3); }
    footer .somelogo .insta {
      cursor: pointer;
      z-index: 100;
      height: 60px;
      width: 60px;
      margin-left: 5px;
      margin-top: -30px;
      margin-right: 15px; }
    footer .somelogo .snap {
      cursor: pointer;
      z-index: 100;
      height: 60px;
      width: 60px;
      margin-left: 5px;
      margin-top: -30px;
      margin-right: 15px; }

/*footer luk*/
/*CSS Footer slut*/
@media screen and (max-width: 768px) {
  main .fb-toggle-button {
    display: none; } }
@media screen and (max-width: 637px) {
  main .greyline .center .audioplayer {
    width: 100%; }

  main .greyline .center .wordstilt {
    width: 100%; } }
@media screen and (max-width: 580px) {
  main .greyline .center .audioplayer .album {
    margin-top: 0; } }

/*# sourceMappingURL=style.css.map */
