@import "_mixin";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "_variables";
@charset "UTF-8";

/* CSS Document */
* {box-sizing: border-box;
}

body{
  margin:0px;
  width: 100%;
  height: auto;
  background-color: black;
}

header  {
  height: 100px;
  width: 100%;
  position: fixed;/*husk at angiv width*/
  z-index: 10;
  margin-bottom: 0;


  .imgdean{
  width:100%;
  position: absolute;
  z-index: -1;

/*header img 3 pic dean*/
    img{
      width:100%;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 74%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 74%, 0% 100%);
    }
  }
/*header shrink*/
.imgdean.shrink {
display: none;
    height: 150px;
    background-color: black;
}

.imgdean.shrink img{
    display: none;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
}
/*header shrink slut*/
  /* tilpasse sig størrelsen i forhold til vinduet*/
  .centerContent {
  width: 100%;
  height: 180px;
  margin-top: 0px;
  /*background-color: yellow;*/

  /*logo image*/
    img {
      padding-top: 5%;
      width:8%;
      /*height: 20%;*/
      float: left;
      margin-left: 5%;
    }

}
}
nav{
  ul{
    float: right;
    margin-top: 18%;
    margin-right: 3%;

/*pless booking text*/
  li{
    font-size:100%;
    margin-right: 6%;
    margin-top: 7%;
    float: right;
    font-family: 'Raleway', sans-serif;
    list-style: none;

  a {
    color:white;
    text-decoration: none;
  }
    }
    }
}
/*follow mouse*/


/*Facebook knap i venstre side*/
  .fb-iframe {
    height: 500px;
    /*background: blue;*/
    display: block;
    position: fixed;
    margin-top: 14em;
    top: 10px;
    width: 340px;
    left: -340px;
    z-index: 100;
    border-style: solid white;

  }

  .fb-toggle-button {
    position: fixed;
    top: 400px;
    cursor: pointer;
    z-index: 100;
    height: 75px;
    width:75px;
    /*display:none;*/
  }
/*Facebook knap slut*/

/*Forside start*/
main {
height: auto;
width: 100%;
background-color: black;

  section.top {
    height:850px;
    width: 100%;
    padding-top: 5%;
    margin-bottom: 0;
        /*-webkit-clip-path: polygon(0 0, 100% 0, 100% 74%, 0% 100%);
clip-path: polygon(0 0, 100% 0, 100% 74%, 0% 100%);*/
/*text hide behing header scroll up*/
.headertexthide {
  margin-top: 2em;
  width: 75%;
  height: auto;
  margin-left: 17%;
  position: absolute;
  margin-bottom: 5px;
  font-family: 'Oswald', sans-serif;
  .h2headerhide{
width: 100%;
margin-top: 1em;
position: absolute;

  .h2million{
    width:100%;
    color:#424242;
    /*background-color: yellow;*/
    font-size:380%;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 100%;
    h2{
    margin-top: 1%;
    }
    }
    .h2thousand{
      width:100%;
      color:rgb(21, 21, 21); /*#424242;*/
      /*background-color: yellow;*/
      font-size:1.5em;
      margin:0;
      padding: 0;
      border: 0;
      line-height: 100%;
      h2{
      margin-top: 1%;
      }
      }
      h2::first-letter{
        color: #ffffff;
      }
}
}
/*citat  -har haft mange*/
.deaninfo{
  color:white;
  margin-top: 22%;
  width: 50%;
  margin-left: 17%;
  position: absolute;
  float: right;
  font-family: 'Oswald', sans-serif;
  h1{
    font-size: 150%;
  }
}
/*text 3 ord horisontalt*/
    .deantext{
      width: 100%;
      height:auto;
      padding-left: 50%;
      margin-left: 20%;
      margin-top: 12em;
      position: absolute;
      z-index: 9;
      font-family: 'Oswald', sans-serif;
    -webkit-transform: rotateZ(90deg); /* Safari */
    transform: rotateZ(90deg); /* Standard syntax */

        .h2first{
          width:100%;
          color:white;
          /*background-color: yellow;*/
          font-size:600%;
          margin: 0;
          padding: 0;
          border: 0;
          line-height: 100%;
          h2{
          margin-top: 1%;
          }
          }

          .h2second{
            width:150px;
            color:#ff9800; /*orange*/
            /*background-color: yellow;*/
            font-size: 600%;
            margin: 0;
            padding-left: 15%;
            border: 0;
            line-height: 100%;
            h2{
            margin-top: 1%;
            }
            }

            .h2third{
              width:150px;
              color:#424242;
              /*background-color: yellow;*/
              font-size: 600%;
              margin: 0;
              padding-left: 30%;
              border: 0;
              line-height: 100%;
              h2{
              margin-top:1%;
              }
              }

  }
  /*audio player*/
  .audio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    /*width:75%;*/
    padding-left: 10%;
    margin-top: 38em;
    z-index: 1;
    position: absolute;
    font-size: 100%;
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
    /*background-color: #222;*/


  h1 {
    margin-bottom: 0.5em;
    font-weight: 400;
  }

  h2 { font-size: 87.5%; }

  .player {
    position: relative;
    width: 20em;
    min-height: 20em;
    overflow: hidden;
    background-color: #121212;
    border-radius: 0.25em;
    box-shadow:
      0 1.5em 2em -1em rgba(0,0,0,0.8),
      inset 0 0.0625em 0 rgba(255,255,255,1),
      inset 0 -0.125em 0.0625em rgba(0,0,0,0.3);
      /*-webkit-clip-path: polygon(0 18%, 100% 0, 100% 100%, 0% 100%);
clip-path: polygon(0 18%, 100% 0, 100% 100%, 0% 100%);*/
  }

  .album {
    position: relative;
    left: 50%;
    width: 15em;
    height: 15em;
    margin-bottom: -13%;
    overflow: hidden;
    transform: translate(-50%,-25%);
    background-color: #111;
    border: 1px solid #111;
    border-radius: 50%;
    box-shadow:
      0 0.0625em 0.1875em rgba(0,0,0,0.5),
      0 0 0.125em 0.3125em #ddd,
      0 0.0625em 0 0.375em #bbb,
      0 0 0.375em 0.325em rgba(0,0,0,0.3),
      0 0 0.5em 0.375em rgba(0,0,0,0.3),
      0 0.25em 1em 0.5em rgba(0,0,0,0.15),
      inset 0 0 0 0.0625em rgba(0,0,0,0.5),
      inset 0 0 0 0.1875em rgba(255,255,255,1),
      inset 0 0 0 0.375em rgba(0,0,0,0.5),
      inset 0 0 0 0.4375em rgba(255,255,255,0.2),
      inset 0 0 0 0.5em rgba(0,0,0,0.5),
      inset 0 0 0 0.5625em rgba(255,255,255,0.3),
      inset 0 0 0 0.625em rgba(0,0,0,0.5),
      inset 0 0 0 0.6875em rgba(255,255,255,0.2),
      inset 0 0 0 0.75em rgba(0,0,0,0.5),
      inset 0 0 0 0.8125em rgba(255,255,255,0.3),
      inset 0 0 0 0.875em rgba(0,0,0,0.5),
      inset 0 0 0 0.9375em rgba(255,255,255,0.3),
      inset 0 0 0 1em rgba(0,0,0,0.5),
      inset 0 0 0 1.0625em rgba(255,255,255,0.2),
      inset 0 0 0 1.125em rgba(0,0,0,0.5),
      inset 0 0 0 1.1875em rgba(255,255,255,0.3),
      inset 0 0 0 1.25em rgba(0,0,0,0.5),
      inset 0 0 0 1.3125em rgba(255,255,255,0.2),
      inset 0 0 0 1.375em rgba(255,255,255,0.2),
      inset 0 0 0 1.4375em rgba(0,0,0,0.5),
      inset 0 0 0 1.5em rgba(255,255,255,0.3),
      inset 0 0 0 1.5625em rgba(0,0,0,0.5),
      inset 0 0 0 1.625em rgba(255,255,255,0.3),
      inset 0 0 0 1.6875em rgba(0,0,0,0.5),
      inset 0 0 0 1.75em rgba(255,255,255,0.2),
      inset 0 0 0 1.8125em rgba(0,0,0,0.5),
      inset 0 0 0 1.875em rgba(255,255,255,0.2),
      inset 0 0 0 1.9375em rgba(0,0,0,0.5),
      inset 0 0 0 2em rgba(255,255,255,0.3),
      inset 0 0 0 2.0625em rgba(0,0,0,0.5),
      inset 0 0 0 2.125em rgba(0,0,0,0.5),
      inset 0 0 0 2.1875em rgba(255,255,255,0.1),
      inset 0 0 0 2.25em rgba(0,0,0,0.5),
      inset 0 0 0 2.3125em rgba(255,255,255,0.2),
      inset 0 0 0 2.375em rgba(255,255,255,0.1),
      inset 0 0 0 2.4375em rgba(0,0,0,0.5),
      inset 0 0 0 2.5em rgba(255,255,255,0.3),
      inset 0 0 0 2.5625em rgba(0,0,0,0.5),
      inset 0 0 0 2.625em rgba(255,255,255,0.2),
      inset 0 0 0 2.6875em rgba(0,0,0,0.5),
      inset 0 0 0 2.75em rgba(255,255,255,0.2),
      inset 0 0 0 2.8125em rgba(0,0,0,0.5),
      inset 0 0 0 2.875em rgba(255,255,255,0.2),
      inset 0 0 0 2.9375em rgba(0,0,0,0.5),
      inset 0 0 0 3em rgba(255,255,255,0.3),
      inset 0 0 0 3.0625em rgba(0,0,0,0.5),
      inset 0 0 0 3.125em rgba(0,0,0,0.5),
      inset 0 0 0 3.1875em rgba(255,255,255,0.2),
      inset 0 0 0 3.25em rgba(0,0,0,0.5),
      inset 0 0 0 3.3125em rgba(255,255,255,0.2),
      inset 0 0 0 3.375em rgba(255,255,255,0.1),
      inset 0 0 0 3.4375em rgba(0,0,0,0.5),
      inset 0 0 0 3.5em rgba(255,255,255,0.3);
  }

  .album::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    background-image:
      linear-gradient(
        -45deg,
        rgba(255,255,255,0) 30%,
        rgba(255,255,255,0.125),
        rgba(255,255,255,0) 70%
      ),
      linear-gradient(
        -48deg,
        rgba(255,255,255,0) 45%,
        rgba(255,255,255,0.075),
        rgba(255,255,255,0) 55%
      ),
      linear-gradient(
        -42deg,
        rgba(255,255,255,0) 45%,
        rgba(255,255,255,0.075),
        rgba(255,255,255,0) 55%
      ),
      radial-gradient(
        circle at top left,
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,0) 80%
      ),
      radial-gradient(
        circle at bottom right,
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,0) 80%
      );
  }

  .cover,
  .cover div {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 6em;
    height: 6em;
    overflow: hidden;
    transform-origin: 0 0;
    transform: rotate(0) translate(-50%,-50%);
    border-radius: 50%;
    animation: spin 4s linear infinite paused;
  }

  .ffing .cover {
    animation-play-state: running;
  }

  .cover div {
    border-radius: 0;
    animation: spin 2s linear infinite reverse paused;
  }

  .rwing .cover div {
    animation: spin 2s linear infinite reverse running;
  }

  .cover::before,
  .cover::after {
    content: '';
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
    transform: rotate(0) translate(-50%,-50%);
    border-radius: 50%;
    box-shadow: inset 0 0.0625em rgba(255,255,255,0.3);
    animation: spin 4s linear infinite reverse paused;
  }

  .cover::after {
    width: 0.25em;
    height: 0.3125em;
    margin-top: -0.0625em;
    background-color: #eee;
    border-radius: 0.125em;
    box-shadow:
      inset 0 -0.0625em 0.0625em rgba(0,0,0,0.5),
      inset 0.0625em -0.0625em 0.125em rgba(255,255,255,0.15),
      inset -0.0625em -0.0625em 0.125em rgba(255,255,255,0.15),
      inset 0 -0.125em 0.125em rgba(0,0,0,0.8),
      0 0.0625em 0.0625em rgba(0,0,0,0.5),
      0 0.0625em 0.25em 0.0625em rgba(0,0,0,0.15),
      0 0 0.25em 0.125em rgba(0,0,0,0.15);
  }

  .ffing .cover::before,
  .ffing .cover::after {
    animation-play-state: running;
  }

  .cover img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
    transform: rotate(0) translate(-50%,-50%);
    animation: spin 4s linear infinite paused;
  }

  .paused .cover img {
    animation-play-state: paused;
  }

  .playing .cover img {
    animation-play-state: running;
  }

  .info {
    text-align: center;
    text-shadow: 0 0.0625em rgba(255,255,255,1);
  }

  .time {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5em;
    margin-bottom: 0.5em;
  }

  .time > * {
    margin: 0 0.5em;
  }

  .progress {
    flex-grow: 2;
    height: 0.125em;
    background-color: #999;
    border-radius: 0.0625em;
    box-shadow: 0 0.0625em rgba(255,255,255,1);
    cursor: pointer;
  }

  .progress span {
    display: block;
    width: 0;
    height: 100%;
    background-color: #666;
  }

  .actions {
    position: relative;
    width: 100%;
    padding: 1em 0 1.125em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    appearance: none;
    outline: none;
    position: relative;
    padding: 0;
    font-size: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .button {
    width: 3em;
    height: 3em;
    background-color: transparent;
    background-image: linear-gradient(#ddd, #f6f6f6);
    border: none;
    border-radius: 50%;
  }

  .button::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%,-50%);
    background-color: #f4f4f4;
    border: 0.125em solid #d5d5d5;
    border-radius: 50%;
    box-shadow: inset 0 0.25em 1em -0.25em rgba(255,255,255,0.75);
  }

  .button:hover::before {
    background-color: #fcfcfc;
  }

  .play-pause {
    width: 4em;
    height: 4em;
  }

  .rw {
    right: -0.25em;
    margin-left: 0.375em;
    transform: scaleX(-1);
  }

  .ff {
    left: -0.25em;
    margin-right: 0.375em;
  }

  .button .arrow {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 30%;
    overflow: hidden;
    transform: translate(-50%,-50%);
  }

  .button .arrow::before,
  .button .arrow::after {
    content: '';
    position: absolute;
    left: -50%;
    width: 100%;
    height: 100%;
    transform: scale(1.2,0.7) rotate(45deg);
    background-color: #ddd;
    box-shadow:
      inset 0 0.125em 0.125em -0.0625em rgba(0,0,0,0.15),
      0.0625em 0.0625em 0.125em rgba(255,255,255,1);
  }

  .button .arrow::after {
    left: 0;
    transform: none;
    background-color: transparent;
    box-shadow: inset 0.0625em 0 0.125em -0.0625em rgba(0,0,0,0.1);
  }

  .paused .play-pause .arrow {
    margin-left: 0.1875em;
  }

  .playing .play-pause .arrow::before,
  .playing .play-pause .arrow::after {
    left: 0;
    width: 0.4375em;
    transform: none;
    background-color: #ddd;
    box-shadow:
      inset 0.0625em 0.125em 0.125em -0.0625em rgba(0,0,0,0.15),
      0.0625em 0.0625em 0.125em rgba(255,255,255,1);
  }

  .playing .play-pause .arrow::after {
    left: auto;
    right: 0;
  }

  .rw .arrow,
  .ff .arrow {
    width: 20%;
    height: 20%;
    margin-left: 12%;
  }

  .rw .arrow:first-child,
  .ff .arrow:first-child {
    margin-left: -4%;
  }

  .button:active .arrow::before,
  .playing .play-pause .arrow::before,
  .playing .play-pause .arrow::after {
    background-color: #cef;
  }

  .shuffle {
    width: 1.375em;
    height: 1.375em;
    color: #d5d5d5;
  }

  .shuffle .arrow {
    position: absolute;
    top: 0.1875em;
    left: 0;
    width: 0.375em;
    height: 0.125em;
    color: inherit;
    background-color: currentColor;
  }

  .shuffle .arrow::before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(100% + 0.125em);
    width: 0.5em;
    height: 1em;
    transform: skewX(30deg);
    border-bottom: 0.125em solid;
    border-left: 0.125em solid;
    box-shadow:
      -0.3125em 0em 0 -0.1875em #eee,
      inset 0.375em 0.25em 0 -0.25em #eee;
  }

  .shuffle .arrow::after {
    content: '';
    position: absolute;
    top: 0.6875em;
    left: calc(100% + 0.625em);
    border: 0.25em solid transparent;
    border-left-width: 0.375em;
    border-left-color: currentColor;
  }

  .shuffle .arrow:first-child {
    transform-origin: 0 0.5em;
    transform: scaleY(-1);
  }

  .repeat {
    width: 1.375em;
    height: 1.375em;
    color: #d5d5d5;
    border: 0.125em solid;
    border-right-color: transparent;
    border-radius: 50%;
  }

  .repeat::before {
    content: '';
    position: absolute;
    top: -0.125em;
    left: -0.125em;
    width: calc(100% + 0.25em);
    height: calc(100% + 0.25em);
    transform: rotate(-45deg);
    border: 0.125em solid transparent;
    border-right-color: currentColor;
    border-radius: 50%;
  }

  .repeat::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -0.3125em;
    border: 0.25em solid transparent;
    border-top-width: 0.375em;
    border-top-color: currentColor;
  }

  .shuffle.active,
  .repeat.active {
    color: #bde;
  }

  @keyframes spin {
    100% { transform: rotate(360deg) translate(-50%,-50%); }
  }
  }
  /*audio slut*/
  section.middleup{
    width: 100%;
    height: 650px;
    margin-top: 23em;
    background-color: #121212;
    -webkit-clip-path: polygon(100% 5%, 100% 38%, 0 100%, 0 25%);
  clip-path: polygon(100% 5%, 100% 38%, 0 100%, 0 25%);
    /*    -webkit-clip-path: polygon(0 74%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 74%, 100% 0, 100% 100%, 0% 100%);*/
}

  /*section.middle{
     width: 100%;
     height: 500px;
     background-color:  #121212;
     -webkit-clip-path: polygon(0 100%, 100% 0, 0 0);
     clip-path: polygon(0 100%, 100% 0, 0 0);
  }*/
  }
section.bottomdown{
  width: 100%;
   height: 500px;
     /* Rotate div */
     -webkit-clip-path: polygon(100% 75%, 0% 100%, 100% 100%);
 clip-path: polygon(100% 75%, 0% 100%, 100% 100%);/*skrå ned*/
  }
}
/*   -ms-transform: rotate(-25deg); /* IE 9 */
  /* -webkit-transform: rotate(-25deg); /* Safari 3-8 */
   /*transform: rotate(-25deg);*/

/*CSS footer start*/
     footer {
       height: 60px;
       background-color: #121212;
       position: absolute;
       width: 100%;
       /*footer luk*/ }
       footer div {
         /*logoer ligger på linier med header*/
         /* a luk*/ }
         footer div a i.fa {
           float: right;
           margin-left: 5px;
           margin-top: -25px;
           margin-right: 15px; }
         footer div a i.fa-facebook {
           background-color: #ff9800;
           width: 40px;
           height: 40px;
           display: block;
           text-align: center;
           line-height: 40px;
           border-radius: 50%;
           color: black;
           font-size: 25px;
           /*#3b5998 farven sendes til mixin*/ }
         footer div a i.fa-instagram {
           background-color: #ff9800;
           width: 40px;
           height: 40px;
           display: block;
           text-align: center;
           line-height: 40px;
           border-radius: 50%;
           color: black;
           font-size: 25px;
           /*#000000*/ }

     /*CSS Footer slut*/
     /*media queries start*/

     @media screen and (max-width:768px) {
       main .fb-toggle-button {
         display:none;
       }

       main section.top .deaninfo{
         width: 70%;
       }
       main section.top .headertexthide .h2headerhide .h2million{
         font-size: 250%;
       }
}

@media screen and (max-width:632px){
main section.top .headertexthide .h2headerhide .h2million{
   font-size: 1.5em;
}
}
@media screen and (max-width:565px){
main section.top .headertexthide .h2headerhide {
   display: none;
}
}
 /*media q der bruges i de enkelte classes*/
/*@include mq(750px){*/
