/* responsive images */

img {
    max-width: 100%;
    height: auto;
}

/* align-center class */

.align-center {
    margin: 0 auto !important;
    text-align: center;
}

/* scrollbar > chrome */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

/* section > fourth-page */

section#fourth-page {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: auto;
    padding: 2em 0 4em;
    position: relative;
    overflow: hidden;
		background-color: black;
}

    section#fourth-page > h1.fourth-page-h1 {
        grid-column: 2/3;
        margin: 1em;
				color: white;
    }

    section#fourth-page > h1.fourth-page-h1::before {
        background: orange;
        content: "";
        display: block;
        height: 4px;
        width: 5%;
        margin: 5px 0;
    }

    section#fourth-page > span.fourth-page-h1-span {
        grid-column: 2/3;
        margin: .5em 2em;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.5;
        word-spacing: 2px;
				color: white;
    }

    section#fourth-page > div.fourth-page-gallery {
        grid-column: 2/3;
        margin: 1em auto;
        text-align: center;
    }

        section#fourth-page > div.fourth-page-gallery > div.gallery-items {
            display: inline-block;
            margin: 10px;
        }

            section#fourth-page > div.fourth-page-gallery > div.gallery-items img {1
                max-width: 235px;
                max-height: auto;
                border-radius: 10px;
            } /*gallery lukker*/
